In [1]:
# ライブラリ例
import numpy as np  # 配列処理に特化したライブラリ
import pandas as pd # データ分析に使われるライブラリ（NumPyと親和性が高い）
import matplotlib.pyplot as plt # グラフなどを描画するためのライブラリ

In [7]:
import scipy # 数学などの科学技術計算に得意なパッケージ
# 積分を行う例
# scipy.integrate(x)

In [9]:
# integrateの前にscipyを書くのが面倒な場合は、formを指定する
from scipy import integrate
# integrate(x) # 積分を行う

In [10]:
# 2次元でデータを扱うためにデータフレームを利用する（pandas）
data = [
    ['山田太郎', 90, 50],
    ['鈴木花子', 80, 70],
    ['高橋次郎', 75, 80],
    ['佐藤三郎', 88, 65]
]
score = pd.DataFrame(data, columns=['氏名', '数学', '英語'])
score

     氏名  数学  英語
0  山田太郎  90  50
1  鈴木花子  80  70
2  高橋次郎  75  80
3  佐藤三郎  88  65

In [14]:
# データフレームのサイズを調べる
score.shape

(4, 3)

In [15]:
len(score) # 行

4

In [16]:
len(score.columns) # 列

3

In [21]:
# データを取り出す（取り出した値はDataFrameではなく、Seriesという一次元データ構造になる）
score['数学']

0    90
1    80
2    75
3    88
Name: 数学, dtype: int64

In [23]:
score.英語

0    50
1    70
2    80
3    65
Name: 英語, dtype: int64

In [24]:
# 条件を指定してデータを抽出する（数学の点数が80点より大きい生徒を抽出する）
score[score.数学 > 80]

     氏名  数学  英語
0  山田太郎  90  50
3  佐藤三郎  88  65

In [25]:
# 氏名と数学の列だけ抽出したい場合の指定
score[score.数学 > 80][['氏名', '数学']]

     氏名  数学
0  山田太郎  90
3  佐藤三郎  88