In [1]:
# ライブラリ例
import numpy as np  # 配列処理に特化したライブラリ
import pandas as pd # データ分析に使われるライブラリ（NumPyと親和性が高い）
import matplotlib.pyplot as plt # グラフなどを描画するためのライブラリ

In [7]:
import scipy # 数学などの科学技術計算に得意なパッケージ
# 積分を行う例
# scipy.integrate(x)

In [9]:
# integrateの前にscipyを書くのが面倒な場合は、formを指定する
from scipy import integrate
# integrate(x) # 積分を行う

In [10]:
# 2次元でデータを扱うためにデータフレームを利用する（pandas）
data = [
    ['山田太郎', 90, 50],
    ['鈴木花子', 80, 70],
    ['高橋次郎', 75, 80],
    ['佐藤三郎', 88, 65]
]
score = pd.DataFrame(data, columns=['氏名', '数学', '英語'])
score

     氏名  数学  英語
0  山田太郎  90  50
1  鈴木花子  80  70
2  高橋次郎  75  80
3  佐藤三郎  88  65

In [11]:
# データフレームのサイズを調べる
score.shape

(4, 3)

In [12]:
len(score) # 行

4

In [13]:
len(score.columns) # 列

3